<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrganizeFolders.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Folder1" value="C:\Users\rafael\OneDrive\Imagens\WhatsApp Images"/>
    <add key="Folder2" value=""/>    
    <add key="Folder3" value=""/>    
    <add key="Folder4" value=""/>    
    <add key="Folder5" value=""/>    
    <add key="Folder6" value=""/>    
    <add key="Folder7" value=""/>    
    <add key="Folder8" value=""/>    
    <add key="Folder9" value=""/>    
    <add key="Folder10" value=""/>    
  </appSettings>
  <applicationSettings>
    <OrganizeFolders.Settings>
      <setting name="Folder1" serializeAs="String">
        <value>C:\Users\rafael\</value>
      </setting>
    </OrganizeFolders.Settings>
  </applicationSettings>
</configuration>